
@mixin width($width, $minWidth: unset, $maxWidth: unset) { width: $width;min-width: $minWidth;max-width: $maxWidth; }
@mixin height($height, $minHeight: unset, $maxHeight: unset) { height: $height;min-height: $minHeight;max-height: $maxHeight; }

@mixin positionLt($type: absolute, $top: 0, $left: 0) { position: absolute;top: $top;left: $left; }
@mixin positionRb($type: absolute, $bottom: 0, $right: 0) { position: absolute;bottom: $bottom;right: $right; }

@mixin overflow($scroll: scroll) {overflow-x: hidden;overflow-y: $scroll !important;}

@mixin displayFlex($content: space-around, $items: center) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  flex-shrink: 1;
}

@mixin beautifulBar {
  @include overflow(scroll);

  @media screen and (orientation:portrait) and (max-device-width:768px) and (max-device-height:1024px),
  screen and (orientation:landscape) and (max-device-width:1024px) and (max-device-height:768px) {
    &::-webkit-scrollbar {
      width: 4px !important;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: rgba(255, 255, 255, 1);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-clip: content-box;
    background-color: #000A;
    //滚动条的颜色
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
  }
}

@mixin noneBar {
  &::-webkit-scrollbar {
    width: 0;
  }
}
