
header.VPNav div.VPNavBar.top {
  div.container {
    div.title {
      div.VPNavBarTitle {


      }
    }
  }
}

#VPContent.VPContent.is-home {
  div.VPHome {
    div.VPHero.has-image.VPHomeHero {

      div.container {
        div.main {



          p.name {

          }

          p.text {
            // color: red;
            background: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
          }

          p.tagline {

          }

        }

        div.image {

        }
      }
    }
  }
}
